.valSerConvert {
    max-width: 500px;
    max-height: 400px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: #f5e28b;
    border-radius: 15px;
    margin-left: 30px;
    justify-content: left;
}

h1 {
    background-color: #e6d168;
    width: 305px;
    height: auto;
    padding: 6px;
    border-radius: 8px;
    margin-left: 30px;
    font-family: sans-serif;
    color: #ffffff;
}

.moedaConversao {
    max-width: 500px;
    max-height: 400px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: #f5e28b;
    border-radius: 15px;
    margin-left: 30px;
    justify-content: left;
}

.result {
    background-color: #e6d168;
    width: 18%;
    height: auto;
    padding: 5px;
    border-radius: 8px;
    margin-left: 30px;
}

input[type="number"] {
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    background-color: #f0ebd3;
    border-color: #978e5a;
    color: #8e8567; 
    width: 150px;
}
input[type="text"] {
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    background-color: #f0ebd3;
    border-color: #978e5a;
    color: #8e8567; 
    width: 150px;
}

h3 {
    font-family: sans-serif;
    color: #8e8b67;
}

::selection {
    background-color: #fffcd7;
}
::placeholder {
    color: #8e8567;
}
input[type="button"] {
    border-radius: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: #c5b86e;
    background-color: #978945;
    color: #ffffff; 
}

h2 {
    font-family: sans-serif;
    color: #63613e;
}

body {
    background-color: #fff5c7;
}
